<div *ngFor="let item of tools">
  <div class="title" style="font-size: smaller;padding-top: 10px;background-color: #181818;color: white" (click)="item.isshow = !item.isshow" *ngIf="item.group!='连接器'">
    {{ item.group }}
  </div>
  <div *ngIf="item.isshow" class="buttons" style="min-height: 80px;">
    <a *ngFor="let button of item.children" [title]="button.name" [draggable]="button.data"
       (dragstart)="onDrag($event, button)" (touchstart)="onTouchstart(button)" (click)="onclick(button.data)">
      <i *ngIf="button.icon!=null" class="iconfont {{ button.icon }}"></i>
      <i *ngIf="button.img!=null">
        <img src="{{button.img}}" [ngStyle]="button.style">
      </i>
    </a>
  </div>
</div>
