@import '../../src/variables';
@import "~le5le-ui/variables";

$color-border: #ddd;

.page {
  height: 100vh;
  overflow: hidden;
  .body {
    //display: flex;
    //margin-top: 0.4rem;
    height: calc(100vh - 0.4rem);
    border-top: 1px solid $color-border;
  }
}

.clicked {
  .dropdown {
    display: none !important;
  }
}

figure {
  padding: 0 0.25rem;
  width: 7rem;

  .topo {
    margin: 0.1rem 0.1rem 0 0;
    border: 1px solid $color-border !important;
    cursor: pointer;
    min-width: 1.2rem !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
    padding: 0.1rem !important;

    &:nth-child(5n + 0) {
      margin-right: 0;
    }

    &:hover {
      border-color: $color-primary !important;
    }

    img {
      margin: 0 !important;
      width: 1rem !important;
      height: 1rem !important;
      pointer-events: none;
    }
  }
}
