<script src="props/props.component.ts"></script>
<app-workspace-header *ngIf="canvas && data" [file]="data" [data]="canvas.data" (event)="onMenu($event)">
</app-workspace-header>
<div class="flex">
  <div class="tools">
    <app-tools (plugdata)="changePlugdata($event)"></app-tools>
  </div>
  <div class="full">
    <div class="canvas" #workspace (contextmenu)="onContextMenu($event)"></div>

    <div  *ngIf="currentFile === 1" class="flex pt2" style="background-color: #181818;color: yellow;width: 100%;height: 25px;">
      <div  class="item  flex" style="width: 100px;">
        <a style="color:yellow;">增加模板</a>
        <div class="dropdown">
          <div class="item">
            <a (click)="newM8()">
              单通道M8
            </a>
          </div>
          <div class="item">
            <a (click)="newTwoM8()">
              双通道M8
            </a>
          </div>
          <div class="item line"></div>
          <div class="item">
            <a >
              其他
            </a>
          </div>
        </div>
      </div>

      <div  class="item  flex" style="width: 100px;">
        <a style="color:yellow;">删除模板</a>
        <div class="dropdown">
          <div class="item" *ngFor="let muban of report_list">
            <a (click)="del_muban(muban.id)">
              {{muban.muban_name}}
            </a>
          </div>
        </div>
      </div>

      <div  class="item  flex" style="width: 100px;">
        <a style="color:yellow;">校验电流</a>
        <div class="dropdown">
          <div class="item" *ngFor="let muban of report_list">
            <a (click)="jiaoyan(muban.id)">
              {{muban.muban_name}}
            </a>
          </div>
          <div class="item line"></div>
          <div class="item">
            <a (click)="jiaoyanAll()">
              整个文件
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  *ngIf="!showRight" class="propsNotshow" style="font-size: 12px;margin-top: -1px;border-top: #ccc 1px solid">
    <a nz-icon nzType="double-left" nzTheme="outline"  (click)="ShowRight()" > </a>
  </div>
  <div  *ngIf="showRight" class="props" style="font-size: 12px;margin-top: -1px;border-top: #ccc 1px solid">
    <div style="float:right;padding-right: 10px;background-color: #181818;height: 42px;" >
      <a nz-icon nzType="double-right" nzTheme="outline" style="color: white" (click)="NotShowRight()" >
      </a></div>
    <div class="nav nav-tab" *ngIf="!selection" style="background-color: #181818">
      <div class="item" [class.active]="tabb===1" (click)="tabb=1">项目设置</div>
      <div class="item" [class.active]="tabb===2" (click)="tabb=2">产品清单</div>

    </div>
    <div *ngIf="tabb===1&&!selection">
      <div class="pv5">
        <div >
          <div class="group">
            <div style="font-weight: 600">文件设置</div>
            <div class="flex grid">
              <div>文件类型</div>
            </div>
            <div class="flex grid mt5">
              <div>
                <input *ngIf="currentFile === 1"  class="input" [ngModel]="'分线盒系列文件'" [readonly]="true" />
                <input *ngIf="currentFile === 0 || !currentFile  "  class="input" [ngModel]="'自定义文件'" [readonly]="true" />
              </div>
            </div>
            <div class="flex grid">
              <div>文件名称</div>
            </div>
            <div class="flex grid mt5">
              <div>
                <input name="filename"  class="input" [(ngModel)]="data.name" (blur)="onSaveFilename()"
                       required/>
              </div>
            </div>
            <div class="flex grid">
              <div>文件描述</div>
            </div>
            <div class="flex grid mt5">
              <div>
                <input name="filedesc" class="input" [(ngModel)]="data.desc" (blur)="onSaveFiledesc()"
                   required/>
              </div>
            </div>
          </div>
          <div class="group">
            <div style="font-weight: 600">画布设置</div>
            <div class="flex grid">
              <div>宽度（px）</div>
              <div>高度（px）</div>
            </div>
            <div class="flex grid mt5">
              <div class="mr5">
                <input type="number" name="x" class="input" [(ngModel)]="size.width" [uiMin]="0" [uiMax]="5000"
                       [readonly]= "false" required (change)="changesize()" />
              </div>
              <div>
                <input type="number" name="y" class="input" [(ngModel)]="size.height" [uiMin]="0" [uiMax]="5000"
                       [readonly]="false" required (change)="changesize()" />
              </div>
            </div>
            <div>
              <div>画布颜色</div>
            </div>
            <div class="flex grid">
              <div class="mr5">
                <div class="input color" [class.readonly]="false">
                  <i [(colorPicker)]="cavasbkColor" [style.background]="cavasbkColor" cpPosition="bottom"
                     cpAlphaChannel="always" cpOutputFormat="hex" [cpPresetColors]="cpPresetColors"
                     (colorPickerChange)="changebkColor()"></i>
                  <input name="bkColor" [(ngModel)]="cavasbkColor" [readonly]="false"
                         (change)="changebkColor()" />
                </div>
              </div>
            </div>
          </div>
          <div class="group">
            <div style="font-weight: 600">
              小提示
            </div>
            <ul class="ml30 mb20 mt10">
              <li>方向键：控制节点移动5个像素</li>
              <li>Ctrl + 方向键：控制节点移动1个像素</li>
              <li>Ctrl + 鼠标移动：移动整个画布</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="tabb===2&&!selection">
      <div class="group">
        <div style="font-weight: 600 ;margin-bottom: 5px;">
          <button type="button" class="btn"  (click)="showReport = {}">
            预览
          </button>
          <button type="button" class="btn" style="float: right;"  (click)="exportTable()">
            下载Excel
          </button>
        </div>
        <table border="1px" bordercolor="#e7e27aff" >
          <thead >
          <tr style="background-color: #F8F8F8">
            <th>区域号</th>
            <th>区域名</th>
            <th>产品名</th>
          </tr>
          </thead>
          <tbody *ngFor="let list of report_list" >
          <tr *ngFor="let node1 of list.report_nodes;index as i;">
            <td *ngIf="i === 0" [attr.rowspan]="list.report_nodes.length" >{{list.id}}</td>
            <td *ngIf="i === 0"  [attr.rowspan]="list.report_nodes.length" >{{list.muban_name}}</td>
            <td style="padding: 10px 2px;">{{zh_en.get(node1.node_name)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <div *ngIf="selection">
        <app-props *ngIf="selection" [selection]="selection" [canvas]="canvas" [readonly]="false" [currentFile]="currentFile"
                   [report_list]="report_list" [zh_en]="zh_en"  (changeProps)="updateReport($event)">
        </app-props>
      </div>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="showReport">
  <div class="modal-content" >
    <div class="modal-header pointer" style="background-color: #181818"  uiDivMove [isHead]="true">
      <div class="caption" style="color:#F3CF07 ">报目表</div>
      <i class="fr iconfont icon-close" style="color:#F3CF07" (click)="showReport = {'display':'none'}"></i>
    </div>
    <div class="modal-body" id="exportableTable">


      <table border="1">
        <thead >
        <tr style="background-color: #e7e27aff">
          <th>区域号</th>
          <th>区域名</th>
          <th>产品名</th>
          <th>型号</th>
          <th>数量</th>
          <th>备注</th>
        </tr>
        </thead>
        <tbody *ngFor="let list of report_list">
          <tr *ngFor="let node1 of list.report_nodes;index as i;">
            <td *ngIf="i === 0" [attr.rowspan]="list.report_nodes.length" >{{list.id}}</td>
            <td *ngIf="i === 0"  [attr.rowspan]="list.report_nodes.length" >{{list.muban_name}}</td>
            <td>{{zh_en.get(node1.node_name)}}</td>
            <td>{{node1.node_type}}</td>
            <td>1</td>
            <td>{{node1.remarks}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" style="margin-right: 10px;" (click)="exportTable()">
        下载
      </button>
      <button type="button" class="btn" (click)="showReport = {'display':'none'}">
        确定
      </button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showWindows" >
  <app-windows [plug_type]="plug_type"
               (changeShow)="changeShowWindows($event)" (setNodeData)="setNodeData($event)"
                (setNodeLeftData)="setNodeLeftData($event)"
  ></app-windows>
</div>




<app-context-menu [contextmenu]="contextmenu" [canvas]="canvas" [selection]="selection" [locked]="locked">
</app-context-menu>


<div class="modal" *ngIf="showExportWord">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">填写信息</div>
      <i class="fr iconfont icon-close" (click)="showExportWord = false"></i>
    </div>
    <div class="modal-body">
      <div style="margin-top:15px;" >
        <label>文件名称：</label>
        <input type="text" nz-input [(ngModel)]="word_name"  style="width: 30%;" />
        <label style="margin-left: 30px;">公司名称：</label>
        <input type="text" nz-input [(ngModel)]="word_company" style="width: 30%;" />
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="button" *ngIf="down === 'horizontal'" (click)="exportWordHorizontal()">
        确定
      </button>
      <button type="button" class="button" *ngIf="down === 'violently'" (click)="exportWordViolently()">
        确定
      </button>
    </div>
  </div>
</div>
