<script src="props/props.component.ts"></script>
<div class="flex">
  <div class="tools">
    <div *ngFor="let item of tools">
      <div class="title" style="font-size: smaller;padding-top: 10px;">{{ item.group }}</div>
      <div class="buttons" style="min-height: 80px;">
        <a *ngFor="let button of item.children" [title]="button.name" [draggable]="button.data"
           (dragstart)="onDrag($event, button)" (touchstart)="onTouchstart(button)">
          <i *ngIf="button.icon" class="iconfont {{ button.icon }}"></i>
          <i *ngIf="button.img">
            <img src="{{button.img}}" [ngStyle]="button.style">
          </i>
        </a>
      </div>
    </div>
  </div>
  <div class="full">
    <div class="canvas" #workspace (contextmenu)="onContextMenu($event)"></div>
    <div class="flex ph15 pv5" >
      <div style="width: 30%;" >
        文件名：
        <label *ngIf="!editFilename" (dblclick)="onEditFile(filenameInput)" title="双击编辑，点击空白保存">{{data.name}}</label>
        <form class="inline" [class.hidden]="!editFilename" #myForm="ngForm" [uiTouchForm]="myForm" title="双击编辑，点击空白保存">
          <input name="filename" #filenameInput class="input" [(ngModel)]="data.name" (blur)="onSaveFilename()"
                 required/>
        </form>
        <i class="iconfont icon-edit" *ngIf="!editFilename" (click)="onEditFile(filenameInput)" title="双击编辑，点击空白保存"></i>
      </div>
      <div class="full flex">
        文件描述：
        <label *ngIf="!editFilename" (dblclick)="onEditFileDesc(filedescInput)" title="双击编辑，点击空白保存">{{data.desc}}</label>
        <form class="inline" [class.hidden]="!editFiledesc" #myForm="ngForm" [uiTouchForm]="myForm" title="双击编辑，点击空白保存">
          <input name="filedesc" #filedescInput class="input" [(ngModel)]="data.desc" (blur)="onSaveFiledesc()"
                 required/>
        </form>
        <i class="iconfont icon-edit" *ngIf="!editFiledesc" (click)="onEditFileDesc(filedescInput)" title="双击编辑，点击空白保存"></i>
      </div>

      <div *ngIf="data.id">
        <a routerLink="/user/history" [queryParams]="{ id: data.id, name: data.name }">-> 文件历史</a>
      </div>
    </div>

<!--    <div class="flex ph15 pv5" style="background-color: red;width: 200px;height: 200px;">-->

<!--    </div>-->

  </div>
  <div class="props" style="font-size: 12px;">
    <div class="pv5">
      <div *ngIf="!selected">
        <div class="group">
          <div style="font-weight: 600">画布设置</div>
          <div class="flex grid">
            <div>宽度（px）</div>
            <div>高度（px）</div>
          </div>
          <div class="flex grid mt5">
            <div class="mr5">
              <input type="number" name="x" class="input" [(ngModel)]="size.width" [uiMin]="0" [uiMax]="5000"
                     [readonly]="readonly" required (change)="changesize()" />
            </div>
            <div>
              <input type="number" name="y" class="input" [(ngModel)]="size.height" [uiMin]="0" [uiMax]="5000"
                     [readonly]="readonly" required (change)="changesize()" />
            </div>
          </div>
          <div>
            <div>画布颜色</div>
          </div>
          <div class="flex grid">
            <div class="mr5">
              <div class="input color" [class.readonly]="readonly">
                <i [(colorPicker)]="cavasbkColor" [style.background]="cavasbkColor" cpPosition="bottom"
                   cpAlphaChannel="always" cpOutputFormat="hex" [cpPresetColors]="cpPresetColors"
                   (colorPickerChange)="changebkColor()"></i>
                <input name="bkColor" [(ngModel)]="cavasbkColor" [readonly]="readonly"
                       (change)="changebkColor()" />
              </div>
            </div>
          </div>
        </div>
        <div class="group">
          <div style="font-weight: 600" (click)="generateTable()">生成表格
          </div>
          <table *ngIf="canvasnodes" >
            <thead >
            <tr>
              <th style="background-color: #F8F8F8">节点名字</th>
              <th style="background-color: #F8F8F8">数量</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let node of nodesnamelist" >
                <th *ngIf="nodesnames[node] !=0">{{ node }}</th>
                <th *ngIf="nodesnames[node] !=0">{{nodesnames[node]}}</th>
                </tr>
            </tbody>
          </table>
          <table *ngIf="canvaslines">
            <thead>
            <tr>
              <th style="background-color: #F8F8F8">接头名称</th>
              <th style="background-color: #F8F8F8">数量</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let line of arrownamelist" >
              <th *ngIf="arrownames[line] !=0">{{ line }}</th>
              <th *ngIf="arrownames[line] !=0">{{arrownames[line]}}</th>
            </tr>
            </tbody>
          </table>
        </div>
<!--        <div class="group">-->
<!--          <div style="font-weight: 600" >树状结构-->
<!--          </div>-->
<!--          <div class="ml30 mb20 mt10">-->
<!--            <nz-demo-tree-line>loading</nz-demo-tree-line>-->
<!--          </div>-->

<!--        </div>-->
        <div class="group">
          <div style="font-weight: 600">
            小提示
          </div>
          <ul class="ml30 mb20 mt10">
            <li>方向键：控制节点移动5个像素</li>
            <li>Ctrl + 方向键：控制节点移动1个像素</li>
            <li>Ctrl + 鼠标移动：移动整个画布</li>
            <li>Ctrl + 鼠标滚轮：缩放</li>
            <li>添加或选中节点，右侧属性支持上传各种图片哦</li>
          </ul>
        </div>
      </div>
      <div *ngIf="selected">
        <app-props [props]="selected" [readonly]="readonly" (ok)="onChangeProps($event)"
                   (animateChange)="onAnimateChange()"></app-props>
      </div>
    </div>
  </div>
</div>
<app-context-menu [contextmenu]="contextmenu" [canvas]="canvas" [selNodes]="selNodes" [selected]="selected"
                  [locked]="locked"></app-context-menu>

